<ul><font size = 5 color='Orange'>
Learning Goals</font>
<font color = 'Orange'>
<ul>We are using the same dataset as the previous laboratory exercise, now you need to build Neural networks</ul>

<li>Build three different networks with using:</li>
different layers, activation functions, neurans per layers, number of layers
<li>train your network and set the optimal number of epochs and batch size</li>
<li>Evaluate the three networks on the same test dataset</li>
<li>Compare the results</li>
</ul>

The Dataset for this exercise depends on your index number i.e number_of_data_set = index % 10:


0.  https://www.kaggle.com/tunguz/us-elections-dataset
1.  https://www.kaggle.com/andrewmvd/heart-failure-clinical-data
2.  https://www.kaggle.com/sootersaalu/amazon-top-50-bestselling-books-2009-2019
3.  https://www.kaggle.com/anmolkumar/health-insurance-cross-sell-prediction
4.  https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009
5.  https://www.kaggle.com/anmolkumar/house-price-prediction-challenge
6.  https://www.kaggle.com/datasets/tadhgfitzgerald/fifa-international-soccer-mens-ranking-1993now
7.  https://www.kaggle.com/arslanali4343/real-estate-dataset
8.  https://www.kaggle.com/terenceshin/covid19s-impact-on-airport-traffic
9.  https://www.kaggle.com/arslanali4343/top-personality-dataset

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

ds=pd.read_csv('/content/drive/MyDrive/fifa_ranking.csv')

In [3]:
ds.isnull().sum()

rank                       0
country_full               0
country_abrv               0
total_points               0
previous_points            0
rank_change                0
cur_year_avg               0
cur_year_avg_weighted      0
last_year_avg              0
last_year_avg_weighted     0
two_year_ago_avg           0
two_year_ago_weighted      0
three_year_ago_avg         0
three_year_ago_weighted    0
confederation              0
rank_date                  0
dtype: int64

In [4]:
copy_ds = ds.copy()

In [5]:
copy_ds.drop('country_full',axis='columns',inplace=True)
copy_ds.drop('confederation',axis='columns',inplace=True)

In [6]:
for column in ds.columns:
  if column.endswith("weighted"):
     copy_ds.drop(column,axis='columns',inplace=True)

In [7]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
copy_ds['country_abrv'] = encoder.fit_transform(copy_ds['country_abrv'])

encoder1 = LabelEncoder()
copy_ds['rank_date'] = encoder1.fit_transform(copy_ds['rank_date'])

In [8]:
copy_ds

,rank,country_abrv,total_points,previous_points,rank_change,cur_year_avg,last_year_avg,two_year_ago_avg,three_year_ago_avg,rank_date
0,1,73,0.0,57,0,0.0,0.0,0.0,0.0,0
1,2,94,0.0,57,0,0.0,0.0,0.0,0.0,0
2,3,177,0.0,50,9,0.0,0.0,0.0,0.0,0
3,4,181,0.0,55,0,0.0,0.0,0.0,0.0,0
4,5,7,0.0,51,5,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...
57788,206,1,0.0,0,1,0.0,0.0,0.0,0.0,285
57789,206,15,0.0,0,1,0.0,0.0,0.0,0.0,285
57790,206,62,0.0,0,1,0.0,0.0,0.0,0.0,285
57791,206,172,0.0,0,1,0.0,0.0,0.0,0.0,285
57792,206,188,0.0,0,1,0.0,0.0,0.0,0.0,285

In [9]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(
    copy_ds,  copy_ds['rank_change'], test_size=0.2)

In [10]:
X_train.shape

(46234, 10)

In [11]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [12]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout

model1 = Sequential()
  

model1.add(Dense(160, input_dim=10, activation='relu'))
model1.add(Dropout(0.2, input_shape=(16,)))
model1.add(Dense(300, activation='relu'))
model1.add(Dropout(0.2, input_shape=(8,)))
model1.add(Dense(1, activation='linear'))

In [13]:
model2 = Sequential()

model2.add(Dense(216, input_dim=10, kernel_initializer='normal', activation='relu'))
model2.add(Dense(512, kernel_initializer = 'normal', activation='relu'))
model2.add(Dense(216, kernel_initializer = 'normal', activation='relu'))
model2.add(Dense(1, activation='linear'))

In [14]:
model3 = Sequential()

model3.add(Dense(216, input_dim=10, kernel_initializer='normal', activation='sigmoid'))
model3.add(Dense(512, kernel_initializer = 'normal', activation='relu'))
model3.add(Dense(216, kernel_initializer = 'normal',activation='relu'))
model3.add(Dense(340, kernel_initializer = 'normal',activation='relu'))
model3.add(Dense(1, activation='linear'))

In [15]:
model1.compile(loss='mse', optimizer='adam', metrics=['mse','mae'])
model2.compile(optimizer='adam', loss='mse', metrics=['mse','mae'])
model3.compile(optimizer='adam', loss='mse', metrics=['mse','mae'])

In [16]:
model1.fit(X_train, Y_train, epochs=30, batch_size=5000)

Epoch 1/30
10/10 [==============================] - 1s 60ms/step - loss: 28.8080 - mse: 28.8080 - mae: 2.8912
Epoch 2/30
10/10 [==============================] - 1s 60ms/step - loss: 17.1332 - mse: 17.1332 - mae: 2.2125
Epoch 3/30
10/10 [==============================] - 1s 59ms/step - loss: 5.8937 - mse: 5.8937 - mae: 1.2476
Epoch 4/30
10/10 [==============================] - 1s 61ms/step - loss: 1.9181 - mse: 1.9181 - mae: 0.9803
Epoch 5/30
10/10 [==============================] - 1s 60ms/step - loss: 1.7295 - mse: 1.7295 - mae: 0.9802
Epoch 6/30
10/10 [==============================] - 1s 60ms/step - loss: 1.0636 - mse: 1.0636 - mae: 0.6959
Epoch 7/30
10/10 [==============================] - 1s 58ms/step - loss: 0.9319 - mse: 0.9319 - mae: 0.6490
Epoch 8/30
10/10 [==============================] - 1s 59ms/step - loss: 0.7975 - mse: 0.7975 - mae: 0.6389
Epoch 9/30
10/10 [==============================] - 1s 60ms/step - loss: 0.7013 - mse: 0.7013 - mae: 0.5897
Epoch 10/30
10/10 [==============================] - 1s 61ms/step - loss: 0.6539 - mse: 0.6539 - mae: 0.5568
Epoch 11/30
10/10 [==============================] - 1s 59ms/step - loss: 0.5847 - mse: 0.5847 - mae: 0.5376
Epoch 12/30
10/10 [==============================] - 1s 59ms/step - loss: 0.5459 - mse: 0.5459 - mae: 0.5141
Epoch 13/30
10/10 [==============================] - 1s 60ms/step - loss: 0.5067 - mse: 0.5067 - mae: 0.4918
Epoch 14/30
10/10 [==============================] - 1s 61ms/step - loss: 0.4763 - mse: 0.4763 - mae: 0.4751
Epoch 15/30
10/10 [==============================] - 1s 60ms/step - loss: 0.4492 - mse: 0.4492 - mae: 0.4562
Epoch 16/30
10/10 [==============================] - 1s 61ms/step - loss: 0.4311 - mse: 0.4311 - mae: 0.4430
Epoch 17/30
10/10 [==============================] - 1s 57ms/step - loss: 0.4226 - mse: 0.4226 - mae: 0.4331
Epoch 18/30
10/10 [==============================] - 1s 61ms/step - loss: 0.3998 - mse: 0.3998 - mae: 0.4198
Epoch 19/30
10/10 [==============================] - 1s 60ms/step - loss: 0.3789 - mse: 0.3789 - mae: 0.4075
Epoch 20/30
10/10 [==============================] - 1s 59ms/step - loss: 0.3624 - mse: 0.3624 - mae: 0.3980
Epoch 21/30
10/10 [==============================] - 1s 60ms/step - loss: 0.3522 - mse: 0.3522 - mae: 0.3845
Epoch 22/30
10/10 [==============================] - 1s 59ms/step - loss: 0.3468 - mse: 0.3468 - mae: 0.3802
Epoch 23/30
10/10 [==============================] - 1s 59ms/step - loss: 0.3300 - mse: 0.3300 - mae: 0.3719
Epoch 24/30
10/10 [==============================] - 1s 60ms/step - loss: 0.3340 - mse: 0.3340 - mae: 0.3667
Epoch 25/30
10/10 [==============================] - 1s 58ms/step - loss: 0.3205 - mse: 0.3205 - mae: 0.3580
Epoch 26/30
10/10 [==============================] - 1s 60ms/step - loss: 0.3200 - mse: 0.3200 - mae: 0.3532
Epoch 27/30
10/10 [==============================] - 1s 61ms/step - loss: 0.3022 - mse: 0.3022 - mae: 0.3441
Epoch 28/30
10/10 [==============================] - 1s 61ms/step - loss: 0.2847 - mse: 0.2847 - mae: 0.3344
Epoch 29/30
10/10 [==============================] - 1s 65ms/step - loss: 0.2783 - mse: 0.2783 - mae: 0.3307
Epoch 30/30
10/10 [==============================] - 1s 70ms/step - loss: 0.2927 - mse: 0.2927 - mae: 0.3301

In [17]:
model2.fit(X_train, Y_train, epochs=30, batch_size=5000)

Epoch 1/30
10/10 [==============================] - 2s 120ms/step - loss: 28.1681 - mse: 28.1681 - mae: 2.8095
Epoch 2/30
10/10 [==============================] - 1s 114ms/step - loss: 7.1365 - mse: 7.1365 - mae: 1.2400
Epoch 3/30
10/10 [==============================] - 1s 113ms/step - loss: 1.7996 - mse: 1.7996 - mae: 0.8458
Epoch 4/30
10/10 [==============================] - 1s 117ms/step - loss: 0.7427 - mse: 0.7427 - mae: 0.4290
Epoch 5/30
10/10 [==============================] - 1s 114ms/step - loss: 0.2706 - mse: 0.2706 - mae: 0.3114
Epoch 6/30
10/10 [==============================] - 1s 115ms/step - loss: 0.1000 - mse: 0.1000 - mae: 0.1844
Epoch 7/30
10/10 [==============================] - 1s 120ms/step - loss: 0.0449 - mse: 0.0449 - mae: 0.1362
Epoch 8/30
10/10 [==============================] - 1s 113ms/step - loss: 0.0257 - mse: 0.0257 - mae: 0.1070
Epoch 9/30
10/10 [==============================] - 1s 113ms/step - loss: 0.0170 - mse: 0.0170 - mae: 0.0864
Epoch 10/30
10/10 [==============================] - 1s 112ms/step - loss: 0.0122 - mse: 0.0122 - mae: 0.0756
Epoch 11/30
10/10 [==============================] - 1s 112ms/step - loss: 0.0100 - mse: 0.0100 - mae: 0.0697
Epoch 12/30
10/10 [==============================] - 2s 192ms/step - loss: 0.0092 - mse: 0.0092 - mae: 0.0675
Epoch 13/30
10/10 [==============================] - 1s 140ms/step - loss: 0.0146 - mse: 0.0146 - mae: 0.0852
Epoch 14/30
10/10 [==============================] - 1s 114ms/step - loss: 0.0118 - mse: 0.0118 - mae: 0.0770
Epoch 15/30
10/10 [==============================] - 1s 120ms/step - loss: 0.0091 - mse: 0.0091 - mae: 0.0678
Epoch 16/30
10/10 [==============================] - 2s 196ms/step - loss: 0.0077 - mse: 0.0077 - mae: 0.0625
Epoch 17/30
10/10 [==============================] - 2s 201ms/step - loss: 0.0181 - mse: 0.0181 - mae: 0.0955
Epoch 18/30
10/10 [==============================] - 2s 142ms/step - loss: 0.0207 - mse: 0.0207 - mae: 0.1038
Epoch 19/30
10/10 [==============================] - 1s 117ms/step - loss: 0.0075 - mse: 0.0075 - mae: 0.0618
Epoch 20/30
10/10 [==============================] - 1s 114ms/step - loss: 0.0067 - mse: 0.0067 - mae: 0.0589
Epoch 21/30
10/10 [==============================] - 1s 116ms/step - loss: 0.0053 - mse: 0.0053 - mae: 0.0522
Epoch 22/30
10/10 [==============================] - 1s 114ms/step - loss: 0.0091 - mse: 0.0091 - mae: 0.0683
Epoch 23/30
10/10 [==============================] - 1s 121ms/step - loss: 0.0526 - mse: 0.0526 - mae: 0.1720
Epoch 24/30
10/10 [==============================] - 1s 117ms/step - loss: 0.0156 - mse: 0.0156 - mae: 0.0912
Epoch 25/30
10/10 [==============================] - 1s 114ms/step - loss: 0.0110 - mse: 0.0110 - mae: 0.0780
Epoch 26/30
10/10 [==============================] - 1s 113ms/step - loss: 0.0064 - mse: 0.0064 - mae: 0.0576
Epoch 27/30
10/10 [==============================] - 1s 114ms/step - loss: 0.0049 - mse: 0.0049 - mae: 0.0504
Epoch 28/30
10/10 [==============================] - 1s 117ms/step - loss: 0.0042 - mse: 0.0042 - mae: 0.0469
Epoch 29/30
10/10 [==============================] - 1s 113ms/step - loss: 0.0037 - mse: 0.0037 - mae: 0.0436
Epoch 30/30
10/10 [==============================] - 1s 114ms/step - loss: 0.0034 - mse: 0.0034 - mae: 0.0419

In [18]:
model3.fit(X_train, Y_train, epochs=30, batch_size=500)

Epoch 1/30
93/93 [==============================] - 3s 23ms/step - loss: 10.3380 - mse: 10.3380 - mae: 1.4501
Epoch 2/30
93/93 [==============================] - 2s 23ms/step - loss: 0.7113 - mse: 0.7113 - mae: 0.4326
Epoch 3/30
93/93 [==============================] - 2s 22ms/step - loss: 0.8721 - mse: 0.8721 - mae: 0.6412
Epoch 4/30
93/93 [==============================] - 2s 22ms/step - loss: 0.1201 - mse: 0.1201 - mae: 0.0905
Epoch 5/30
93/93 [==============================] - 2s 23ms/step - loss: 0.6373 - mse: 0.6373 - mae: 0.4833
Epoch 6/30
93/93 [==============================] - 2s 23ms/step - loss: 0.0821 - mse: 0.0821 - mae: 0.0853
Epoch 7/30
93/93 [==============================] - 2s 25ms/step - loss: 0.2935 - mse: 0.2935 - mae: 0.3672
Epoch 8/30
93/93 [==============================] - 2s 24ms/step - loss: 0.1295 - mse: 0.1295 - mae: 0.2076
Epoch 9/30
93/93 [==============================] - 2s 22ms/step - loss: 0.3049 - mse: 0.3049 - mae: 0.3897
Epoch 10/30
93/93 [==============================] - 2s 23ms/step - loss: 0.1744 - mse: 0.1744 - mae: 0.2488
Epoch 11/30
93/93 [==============================] - 2s 22ms/step - loss: 0.1032 - mse: 0.1032 - mae: 0.1777
Epoch 12/30
93/93 [==============================] - 2s 22ms/step - loss: 0.3599 - mse: 0.3599 - mae: 0.3690
Epoch 13/30
93/93 [==============================] - 2s 27ms/step - loss: 0.2065 - mse: 0.2065 - mae: 0.2080
Epoch 14/30
93/93 [==============================] - 2s 25ms/step - loss: 0.0826 - mse: 0.0826 - mae: 0.1446
Epoch 15/30
93/93 [==============================] - 2s 23ms/step - loss: 0.0993 - mse: 0.0993 - mae: 0.2034
Epoch 16/30
93/93 [==============================] - 2s 23ms/step - loss: 0.2154 - mse: 0.2154 - mae: 0.3047
Epoch 17/30
93/93 [==============================] - 2s 23ms/step - loss: 0.0367 - mse: 0.0367 - mae: 0.1066
Epoch 18/30
93/93 [==============================] - 2s 23ms/step - loss: 0.2634 - mse: 0.2634 - mae: 0.2991
Epoch 19/30
93/93 [==============================] - 2s 23ms/step - loss: 0.0228 - mse: 0.0228 - mae: 0.0649
Epoch 20/30
93/93 [==============================] - 2s 24ms/step - loss: 0.1572 - mse: 0.1572 - mae: 0.2588
Epoch 21/30
93/93 [==============================] - 2s 22ms/step - loss: 0.0597 - mse: 0.0597 - mae: 0.1283
Epoch 22/30
93/93 [==============================] - 2s 23ms/step - loss: 0.0913 - mse: 0.0913 - mae: 0.2101
Epoch 23/30
93/93 [==============================] - 2s 23ms/step - loss: 0.0397 - mse: 0.0397 - mae: 0.1529
Epoch 24/30
93/93 [==============================] - 2s 23ms/step - loss: 0.1924 - mse: 0.1924 - mae: 0.3018
Epoch 25/30
93/93 [==============================] - 2s 22ms/step - loss: 0.0223 - mse: 0.0223 - mae: 0.0880
Epoch 26/30
93/93 [==============================] - 2s 24ms/step - loss: 0.0185 - mse: 0.0185 - mae: 0.0937
Epoch 27/30
93/93 [==============================] - 2s 27ms/step - loss: 0.1099 - mse: 0.1099 - mae: 0.2036
Epoch 28/30
93/93 [==============================] - 2s 26ms/step - loss: 0.0285 - mse: 0.0285 - mae: 0.1254
Epoch 29/30
93/93 [==============================] - 2s 22ms/step - loss: 0.0692 - mse: 0.0692 - mae: 0.1985
Epoch 30/30
93/93 [==============================] - 2s 23ms/step - loss: 0.0357 - mse: 0.0357 - mae: 0.1295

In [19]:
from sklearn.metrics import r2_score, mean_absolute_error

In [20]:
scores = []
errors = []

In [21]:
y_pred = model1.predict(X_test)
scores.append(r2_score(Y_test, y_pred))
errors.append(mean_absolute_error(Y_test, y_pred))

362/362 [==============================] - 1s 1ms/step

In [22]:
y_pred2 = model2.predict(X_test)
scores.append(r2_score(Y_test, y_pred2))
errors.append(mean_absolute_error(Y_test, y_pred2))

362/362 [==============================] - 1s 2ms/step

In [23]:
y_pred3 = model3.predict(X_test)
scores.append(r2_score(Y_test, y_pred3))
errors.append(mean_absolute_error(Y_test, y_pred3))

362/362 [==============================] - 1s 2ms/step

In [24]:
for i in range(len(scores)):
  print(f'model {i} r2 score: {scores[i]}')
  print(f'model {i} mean absolute error: {errors[i]}')
  print()

model 0 r2 score: 0.9996471334989254
model 0 mean absolute error: 0.07474714121553676

model 1 r2 score: 0.9999059872924996
model 1 mean absolute error: 0.04002009687466815

model 2 r2 score: 0.9932056536550828
model 2 mean absolute error: 0.4779360415211742

The best model appears to be the second one, while the third model is significantly worse than the other two.